@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap%27');
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Open Sans';
}

body {
    background-color: #FEE2CA;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: #FEE2CA;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

main.container {
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.2);
    max-width: 450px;
}

.form {
    background: rgba(255, 255, 255, 0);
    border-radius: 8px;
}

.input-field {
    position: relative;
    margin-bottom: 10px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

::-webkit-datetime-edit-month-field {
    color: grey;
}

::-webkit-datetime-edit-day-field {
    color: grey;
}

::-webkit-datetime-edit-year-field {
    color: grey;
}

::-webkit-datetime-edit-text {
    color: grey;
}

label {
    line-height: 2;
}

#genero_outro {
    display: none;
}